* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
#guess {
  overflow: hidden;
  border: 1px solid red;
  border-radius: 1rem;
  text-align: center;
  padding: 0.5rem;
  resize: none;
}

label {
  font-size: x-large;
  margin-top: 0.2rem;
}

#submitGuess {
  text-align: center;
  margin-bottom: 0.2rem;
}
